<div id="modal-search-end" class="modal">
        <div class="modal-content">
          <h4>Pesquisar Por Prazo</h4>
          <div class="row">
              <div class="input-field col s6">
                  <input id="search-end-begin-input" type="date">
                  <label for="search-end-begin-input">Inicio</label>
              </div>
              <div class="input-field col s6">
                    <input id="search-end-end-input" type="date">
                    <label for="search-end-end-input">Fim</label>
                </div>
          </div>
        </div>
        <div class="modal-footer">
          <button  class="modal-close waves-effect waves-green btn-flat" >Cancelar</button>
          <button  class="waves-effect waves-green btn-flat" >Pesquisar</button>
        </div>
</div>