<button  class="dropdown-trigger waves-effect waves-teal btn-flat" data-target='configs'><i class="material-icons">more_vert</i></button>
<ul id="configs" class="dropdown-content">
    <li><button class="waves-effect waves-teal btn-flat" id="search"><i class="material-icons">search</i></button></li>
    <li><button class="waves-effect waves-teal btn-flat" id="filters"><i class="material-icons">filter</i></button></li>
    <li class="divider" tabindex="-1"></li>
    <li><button class="waves-effect waves-teal btn-flat" id="setings"><i class="material-icons">settings</i></button></li>
    <li><button class="waves-effect waves-teal btn-flat" id="about"><i class="material-icons">info</i></button></li>
    
</ul>
